*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
}

body {
    background-color: #2b1d0f;
    color:#fff;
}

/* header properties change(includes search bar and name) */
header nav {
    background-color: #212121;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/* Recipe App name change */
header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

   
header nav form{
    display:flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow:1;
    margin-right:10px;
}

form input[type="text"],button[type="submit"] {
   border:none;
   font-size: 18px;
   padding:10px;
   border-radius:4px;
}

form button[type="submit"]{
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    transition:background-color 0.2s 
    ease-in-out;
}

form button[type="submit"]:hover,.recipe button:hover , .recipe-close-btn:hover {
    background-color: #ff5c5c;
}

/* Main Section */
.recipe-container {
    text-align:center;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width:80%;
    margin:10px auto;
    padding:20px;
    place-items: center;
}

.recipe {
    background-color: #fff;
    display:flex;
    flex-direction: column;
    color:#000;
    border-radius:6px;
    box-shadow: 0 5px 10px rgba(78,73,0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor:pointer;
    max-width: 350px;
    transition:transform 0.3s ease-in-out;
}

.recipe:hover {
    transform:scale(1.04);
}
.recipe img {
    height: 300px;
    border-radius: 5px;
}

.recipe h3 {
    font-size: 24px;
}

.recipe p {
    font-size: 20px;
    color:#4a4a4a;
    margin:5px 0;
}

.recipe span {
    font-weight:600;
}

.recipe button {
    font-size:20px;
    font-weight:600;
    padding:10px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    margin:18px auto;
    background-color: #f44336;
    color:#fff;
}
/* Recipe details */
.recipe-details {
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: #694c2f;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition:all 0.5s ease-in-out;
    overflow:scroll;
}

.recipe-details-content {
    padding:30px;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.ingredientList li {
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstruction p {
    line-height: 30px;
    white-space: pre-line;
}

.recipeName,.ingredientList,.recipeInstruction {
    margin-bottom:20px;
}

.recipe-close-btn {
   border:none;
   font-size: 18px;
   padding:8px;
   border-radius:4px;
   background-color: #f44336;
   color: #fff;
   position:absolute;
   top: 20px;
   right:20px;
   width:30px;
   height:30px;
   display:flex;
   justify-content: center;
   align-items:center;
}
/* Adding scrollbar to recipe-details popup */
.recipe-details::-webkit-scrollbar {
    width:10px;
}
.recipe-details::-webkit-scrollbar-thumb {
    background-color: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius:16px;
}

body::-webkit-scrollbar{
    width:16px;
}

body::-webkit-scrollbar-thumb{
    background:#a1a1a1;
    /* border-radius: 10px; */
}

body::-webkit-scrollbar-track{
    background:#ebebeb;
    /* border-radius: 10px; */
}
/* Responsive for Search button and bar */
@media screen and (max-width:600px) {
    header nav{
        flex-direction:column;
    }
    header nav form {
        width:80%;
        margin-top: 20px;
    }
}



